<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head">
        <title id="pageTitle" th:text="${session.title}">APIs</title>
    </head>
    <body>
        <nav th:replace="fragments/navHeader :: navbar"></nav>
        <div class="container has-text-centered">
            <a th:href="@{/api/StudentService/student/}" class="ddl">Student API</a>
            <a th:href="@{/api/TutorService/tutor/}" class="ddl">Tutor API</a>
            <a th:href="@{/api/InvoiceService/invoice/}" class="ddl">Invoice API</a>
        </div>
        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>