<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments/head :: headerFragment">
        <title id="pageTitle">Tutor</title>
    </head>
    <body>
        <nav th:replace="fragments/navHeader :: navbar"></nav>
        
        <!--
        <h2 class="title is-2" style="margin-bottom:-10px!important">Tutor reports</h2>
        
        <form th:object="${tutorDetail}" action="replacedBeforePageRendered" th:action="@{/reports/tutorSkillReportSubmit}"  method="post" class="form-horizontal">

            <h1 th:text="${message}">test</h1>
            
            <div class="field">
                <label class="label" for="course">Tutor</label>
                <div class="control">
                    <div class="select">
                        <select th:field="${tutorDetail.tutorSkill}">
                            <option th:each="course :${session.courses}"
                                    th:value="${course.description}"
                                    th:text="${course.description}"></option>
                        </select>
                    </div>
                </div>
            </div>

            <div style="text-align: left;" class="form-actions">
                <button class="btn btn-primary btn-lg" type="submit">Run the report</button>
            </div>
            
            <div>
                <table class="tableStyles">
                        <tr>
                            <th th:text="${tutorDetail.tutorSkillForTutorInformationFound}"></th>
                        </tr>
                        <tr th:each="current : ${tutorDetail.names}">
                            <td th:text="${current}"></td>
                        </tr>
                </table>
            </div>
            
        </form>
        -->
        
        <div class="container has-text-centered">
        
        <h2 class="title is-2" style="margin-bottom:-10px!important">Tutor reports</h2>
        
        <form th:object="${tutorDetail}" action="replacedBeforePageRendered" th:action="@{/reports/tutorSkillReportSubmit}"  method="post" class="form-horizontal">

            
            <div style="text-align: left;" class="form-actions">
            
            <h1 th:text="${message}">test</h1>
            <label class="label" for="course">Tutor</label>
            
                    <!--<div class="select">-->
                        <select th:field="${tutorDetail.tutorSkill}" style="margin-bottom:24px">
                            <option th:each="course :${session.courses}"
                                    th:value="${course.description}"
                                    th:text="${course.description}"></option>
                        </select>
                <!--</div>-->
                
            
                
            <button class="btn btn-primary btn-lg" type="submit">Run the report</button>
        </div>
        </form>
            <!--<div>-->
                <table class="tableStyles">
                        <tr>
                            <th th:text="${tutorDetail.tutorSkillForTutorInformationFound}"></th>
                        </tr>
                        <tr th:each="current : ${tutorDetail.names}">
                            <td th:text="${current}"></td>
                        </tr>
                </table>
            <!--</div>-->
            
        </div>
        
        
        
        
        
        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>