<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head">
        <title id="pageTitle" th:text="${session.title}">Oops!</title>
    </head>
    <body>
        <nav th:replace="fragments/navHeader :: navbar"></nav>
        <h2 class="title is-2 centered2">Oops!</h2>
        <p class="wbb centered" style="display:table">This feature is not currently available. Sorry!</p>
        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>