<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>navbar</title>
    </head>
    <body>
        <nav th:fragment="navbar" class="navbar nav" aria-label="main navigation">
            <div class="navbar-brand">
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" id="burg"
                   onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');"
                   data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-end">
                    <a th:href="@{/}" class="navbar-item navbar-index">Index</a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a th:href="@{/home}" class="navbar-link">Home</a>
                        <div class="navbar-dropdown">
                            <a th:href="@{/student}" class="navbar-item">Student</a>
                            <a th:href="@{/tutor}" class="navbar-item">Tutor</a>
                            <a th:href="@{/invoice}" class="navbar-item">Invoice</a>
                        </div>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a th:href="@{/reports/reports}" class="navbar-link">Reports</a>
                        <div class="navbar-dropdown">
                            <a th:href="@{/reports/studentReport}" class="navbar-item">Student Report</a>
                            <a th:href="@{/reports/tutorReport}" class="navbar-item">Tutor Report</a>
                            <a th:href="@{/reports/invoiceReport}" class="navbar-item">Invoice Report</a>
                        </div>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a th:href="@{/apis}" class="navbar-link">APIs</a>
                        <div class="navbar-dropdown">
                            <a th:href="@{/api/StudentService/student/}" class="navbar-item">Student API</a>
                            <a th:href="@{/api/TutorService/tutor/}" class="navbar-item">Tutor API</a>
                            <a th:href="@{/api/InvoiceService/invoice/}" class="navbar-item">Invoice API</a>
                        </div>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a th:href="@{/other}" class="navbar-link">Other</a>
                        <div class="navbar-dropdown">
                            <a th:href="@{/other/about_cp}" class="navbar-item">About Carter</a>
                            <a th:href="@{/other/about_fb}" class="navbar-item">About Francisco</a>
                            <a th:href="@{/other/about_fhm}" class="navbar-item">About Ferhad</a>
							<a th:href="@{/other/help}" class="navbar-item">Help</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </body>
</html>