<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments/head :: headerFragment">
        <title id="pageTitle">Tutor List</title>
    </head>
    <body>
    <nav th:replace="fragments/navHeader :: navbar"></nav>

    <div class="container">
        <div class="table-title">
            <h2 class="title is-2 has-text-centered">Tutor List</h2>
            <div>
                <a th:href="@{/tutor/add}" class="vert-align">
                    <span>Add New Tutor</span>
                    <span class="icon is-large"><i class="fas fa-3x fa-plus-square" title="Add"></i></span>
                </a>
            </div>
            <div class="vert-align">
                <span>Tutors: </span><span th:text="${#lists.size(tutors)}"></span>
            </div>
        </div>
        <table class="tableStyles">
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>Email Address</th>
                <th>Address</th>
                <th>Employee Type</th>
            </tr>
            <tr th:each="current : ${tutors}">
                <td th:text="${current.id}"></td>
                <td th:text="${current.firstName}"></td>
                <td th:text="${current.lastName}"></td>
                <td th:text="${current.phoneNumber}"></td>
                <td th:text="${current.emailAddress}"></td>
                <td th:text="${current.address}"></td>
                <td th:text="${current.employeeType}"></td>
                <td>
                    <div class="flex-sp-btw">

<!--                        <a th:href="@{/members/edit/{id}(id=${member.userId})}">-->
                        <a th:href="@{/tutor/edit/{id}(id=${current.id})}">
                            <span class="icon"><i class="fas fa-edit" title="Edit"></i></span>
                        </a>
                        <a th:href="@{/tutor/delete/{id}(id=${current.id})}">
                            <span class="icon"><i class="fas fa-trash" title="Delete"></i></span>
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>