<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head">
        <title id="pageTitle" th:text="${session.title}">Help</title>
    </head>
    <body>
        <nav th:replace="fragments/navHeader :: navbar"></nav>
        <div class="container has-text-centered">
            <h2 class="title is-2">Help</h2>
            <p class="wbb centered" style="display:table">Please refer to the <a href="https://bitbucket.org/CISCarterP/cis2232_20212022_project_bisque/src/master/README.md">README.md</a>.</p>
        </div>
        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>