<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head">
        <title id="pageTitle">Add/Edit student</title>
    </head>
    <body>
		<style scoped="scoped">input:not(.hidden){display:inline-block;float:right}.cd{color:#F00!important;font-weight:bold;margin-bottom:-48px}label{margin-right:8px}</style>
        <nav th:replace="fragments/navHeader :: navbar"></nav>
        <div class="container has-text-centered">
            <h2 class="title is-2" th:text="${student.id == 0 ? 'New student' : 'Edit existing student'}">_</h2>
			<form th:action="@{/student/submit}" method="post" class="wbb" style="display:inline-block;text-align:left!important"><!--
				--><input class="hidden" hidden="hidden" type="text" readonly="readonly" th:field="${student.id}"></input><!--
				Underscores are to avoid warnings. th:text does not work in title. Errors are weird and cryptic.
				--><label>First name: </label><!--
				--><input type="text" th:field="${student.fName}"></input><!--
				--><p class="cd" th:if="${#fields.hasErrors('${student.fName}')}" th:errors="${student.fName}"></p><br></br><!--
				--><label>Last name: </label><!--
				--><input type="text" th:field="${student.lName}"></input><!--
				--><p class="cd" th:if="${#fields.hasErrors('${student.lName}')}" th:errors="${student.lName}"></p><br></br><!--
				--><label>Phone number: </label><!--
				--><input type="text" th:field="${student.pNum}"></input><!--
				--><p class="cd" th:if="${#fields.hasErrors('${student.pNum}')}" th:errors="${student.pNum}"></p><br></br><!--
				--><label>E-mail: </label><!--
				--><input type="text" th:field="${student.eMail}"></input><!--
				--><p class="cd" th:if="${#fields.hasErrors('${student.eMail}')}" th:errors="${student.eMail}"></p><br></br><!--
				--><label>Program: </label><!--
				--><select th:field="${student.prog}" style="float:right"><!--
					--><option th:each="course :${courses}" th:value="${course.id}" th:text="${course.name}" th:selected="${course.id} == ${student.prog}">_</option>
                </select><!--
				--><button style="display:block;margin-top:24px!important" class="centered">Submit</button><!--
				--></form>
		</div>
        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>