<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head">
        <title id="pageTitle" th:text="${session.title}">Students</title>
    </head>
    <body>
		<style scoped="scoped">th,tr,td{text-align:left!important}td{padding:0!important}tr th{line-height:1;padding-bottom:8px}tr:nth-child(even){background-color: #FFF}.a{padding:0 32px 0 0}</style>
		<!--^This is illegal. However, th:replace doesn't allow custom styling. This CSS is needed.^-->
        <nav th:replace="fragments/navHeader :: navbar"></nav>
        <div class="container has-text-centered">
            <h2 class="title is-2">Student list</h2>
			<table th:if="${not #lists.isEmpty(students)}" class="wbb centered" style="padding:0!important;display:inline-block!important"><!--
				--><tr><!--All style overrides still needed. Not a great way to force spacing between elements but works.
					--><th>Student ID</th><!--
					--><th class="a"></th><!--
					--><th>First name</th><!--
					--><th class="a"></th><!--
					--><th>Last name</th><!--
					--><th class="a"></th><!--
					--><th>Phone number</th><!--
					--><th class="a"></th><!--
					--><th>e-Mail</th><!--
					--><th class="a"></th><!--
					--><th>Program</th><!--
					--><th class="a"></th><!--
					--><th>Options</th><!--
					--></tr><!--
				--><tr th:each="current,iterStat : ${students}"><!--
					--><td th:text="${current.id}"></td><!--
					--><td></td><!--
					--><td th:text="${current.fName}"></td><!--
					--><td></td><!--
					--><td th:text="${current.lName}"></td><!--
					--><td></td><!--
					--><td th:text="${current.pNum}"></td><!--
					--><td></td><!--
					--><td th:text="${current.eMail}"></td><!--
					--><td></td><!--Basically, return Invalid if the program is NULL, below 0 or above 5. Doesn't worry about strings since the DB takes care of it.
					--><td th:if="${(current.prog == NULL or current.prog-1 &lt; 0 or current.prog-1 &gt; 5)}">Invalid</td><!--
					--><td th:if="${!(current.prog == NULL or current.prog-1 &lt; 0 or current.prog-1 &gt; 5)}" th:text="${courses.get(current.prog-1).name}"></td><!--
					--><td></td><!--
					--><td style="text-align:center!important"><!--Icon misalignment cannot be solved since the icons are too small and the text is too long.
						--><a th:href="@{/student/edit/{id}(id=${current.id})}"><!--
                            --><span class="icon"><i class="fas fa-edit" title="Edit"></i></span><!--
							--></a><!--
                        --><a th:href="@{/student/delete/{id}(id=${current.id})}"><!--
                            --><span class="icon"><i class="fas fa-trash" title="Delete"></i></span><!--
							--></a><!--
						--></td><!--
					--></tr><!--Ignore this error, as there will only be one td (the if above).
				--><tr><!--
					--><td></td><!--
					--><td></td><!--
					--><td></td><!--
					--><td></td><!--
					--><td></td><!--
					--><td></td><!--
					--><td></td><!--
					--><td></td><!--
					--><td></td><!--
					--><td></td><!--
					--><td></td><!--
					--><td></td><!--
					--><td style="padding:0!important;text-align:center!important"><!--
						--><a th:href="@{/student/add}"><!--
							--><span class="icon"><i class="fas fa-plus-square" title="New"></i></span><!--
							--></a><!--
						--></td><!--
					--></tr><!--
				--></table><!--
			--><br></br><!--
			--><p class="wbb" style="display:inline-block">Total: <b><span th:text="${#lists.size(students)}"></span></b> students.</p>
		</div>
		<footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>